.div1{
    /* height: 85vh; */
    background:linear-gradient(45deg,#acace1, #98c298) ;
}
@media(max-width:577px){
    .navimg{
        height: 47vh;
    }
}
@media(max-width:492px){
    .navimg{
        height: 42vh;
    }
    .left{
       font-size: 1rem;
    }
}
@media(max-width:457px){
    .navimg{
        height: 38vh;
    }
    .left{
        font-size: 0.9rem;
    }
}
@media(max-width:430px){
    .navimg{
        height: 30vh;
    }
    .left{
        height: 30vh;
        
    }
    p{
        font-size: 1rem;
    }
    h1{
        font-size: 1rem; 
    }
}
@media(max-width:302px){
    .navimg{
        height: 20vh;
    }
    p{
        font-size: 0.6rem;
    }
}
